/************************FONTS***********************************/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{padding: 0; margin: 0; box-sizing: border-box; text-decoration: none; list-style: none;}

/************************FONTS***********************************/
:root{
	--max-width: 1100px;
	--primary-color:#ffffff;
	--secondary-color:#05081A;
	--dark-blue:#0B0E22;
	--blue-color:#0D6EFD;
	--gray-color:#474D70;
	--light-gray:#707070;
	--light-white:#E5E5E5;
	--yellow-color:#c5b425;
	--cyan-color:#00ffff;
	--color-1:#FFC3FE;
	--color-2:#FFE6BA; 
	--color-3:#ADDAFF;
	--color-4:#FFC3FE;
	--color-5:#A7E5DD;
	--color-6:#F2D1A8;
	--color-7:#EA9DB8;
	--color-8:#B2BEED;
	--color-9:rgba(75, 107, 251, 0.05); 
	--color-10:#0E1120;
	--color-11:#121526;
	--gradient-1: linear-gradient(137.53deg, #7122FF 8.72%, #19A6FF 91.81%);
	--gradient-2: linear-gradient(134.78deg, #FFA385 10.66%, #FF288D 90.85%);
	--gradient-3: linear-gradient(135.82deg, #D8298A 7%, #B92CCD 92.38%);
	--gradient-4: linear-gradient(135.82deg, #D8298A 7%, #B92CCD 92.38%);
	--gradient-5: linear-gradient(134.78deg, #FFA385 10.66%, #FF288D 90.85%);
	--gradient-6: linear-gradient(137.53deg, #7122FF 8.72%, #19A6FF 91.81%);
}

.container{
	max-width: 1100px;
	margin:0px auto;
	padding: 60px 20px;
}

body{
	  font-family: "Poppins", sans-serif;
}

.header{
	background: linear-gradient(to right, rgb(1 0 4 / 70%), rgb(1 8 47 / 70%)), url('../images/hero.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	min-height: 100vh;
	width: 100%;
	padding: 20px 10px;
	z-index: 99999;
}

.header .navbar.active{
	background: var(--secondary-color);
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	padding: 20px 10px;
	z-index: 9999;
}

.top-header{
	max-width: var(--max-width);
	margin: 0px auto;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	color: var(--primary-color);
	grid-gap: 30px;
	margin-bottom: 10px;
	padding: 0px 10px;
	z-index: 9999;
}

.top-header.active{
	display: none;
}

.top-header .mobile-icon i , .top-header .mail-icon i{
	margin-right: 10px;
}

.top-header .mobile-icon , .top-header .mail-icon{
	cursor: pointer;
}

.top-header .mobile-icon span:hover , .top-header .mail-icon span:hover{
	color:var(--blue-color);
	transition: all 0.5s;
}

.nav{
	max-width: var(--max-width);
	margin: 0px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	user-select: none;
	padding: 0px 10px;
}

.nav .logo img{
	height: 50px;
	cursor: pointer;
}

.nav ul{
	display: flex;
	grid-gap: 25px;
}

.nav ul li a{
	color: #fff;
	font-size: 16px;
	transition: all 0.5s;
	font-weight: 500;
}

.nav ul li a:hover{
	color:var(--blue-color);
}

.nav .openMenu{
	color: var(--primary-color);
	cursor: pointer;
	display: none;
}

.mobile-nav{
	display: none;
}


/*******************HERO SECTION**************************/
.header .hero{
	max-width: var(--max-width);
	margin:0px auto;
	padding: 0px 10px;
}

.header .hero .hero-content{
	margin-top: 60px;
}

.header .hero .hero-content h1{
	font-size: 3rem;
	max-width: 500px;
	margin-bottom: 40px;
	color: #fff;
	line-height: 3.5rem;
}

.header .hero .hero-content h1 span{
	color: var(--blue-color);
}

.header .hero .hero-content p{
	max-width: 700px;
	font-size: 1.2rem;
	color: rgba(255,255,255,0.8);
	line-height: 2rem;
	margin-bottom: 30px;
}

.header .hero .hero-content .hero-links{
	display: flex;
	flex-direction: row;
	align-items: center;
	grid-gap: 20px;
}

.header .hero .hero-content .hero-links a:first-child{
   background: var(--blue-color);
   color: var(--primary-color);
   display: flex;
   align-items: center;
   grid-gap: 10px;
   padding: 15px 30px;
   border-radius: 20px;
   border: 1px solid transparent;
   font-weight: 600;
   transition: all 0.5s;
}

.header .hero .hero-content .hero-links a:first-child:hover{
  background: transparent;
  border: 1px solid var(--blue-color);
}

.header .hero .hero-content .hero-links a:last-child{
	color: var(--blue-color);
	border:1px solid var(--blue-color);
    padding: 15px 30px;
    border-radius: 20px;
    font-weight: 600;
    transition: all 0.5s;
}

.header .hero .hero-content .hero-links a:last-child:hover{
  background: var(--blue-color);
  border: 1px solid transparent;
  color: var(--primary-color);
}

/*******************HERO SECTION**************************/




/*******************HEADER MEDIA QUERY**************************/
@media only screen and (max-width: 768px){
.header.dark{
	background: var(--secondary-color);
}

.top-header{
	display: none;
}

.nav .logo img{
	height: 40px;
}


.nav ul{
	display: none;
}

.nav .openMenu{
	display: block;
}



/*******************MOBILE MENU**************************/
.mobile-nav{
	position: fixed;
	top: 80px;
	left: 0;
	width: 100%;
	height: 100vh;
	background: var(--secondary-color);
	display: none;
	user-select: none;
	z-index:99999;
}

.mobile-nav.active{
	display: block;
	z-index:9999;
}

.mobile-nav ul{
   display: flex;
   flex-direction: column;
   grid-gap: 30px;
   padding: 20px 20px;
}

.mobile-nav ul li a{
	color: #fff;
	transition: all 0.5s;
}

.mobile-nav ul li a:hover{
	color: var(--blue-color);
}

.mobile-nav ul li i{
	margin-right: 10px;
}

/*******************MOBILE MENU**************************/


/*******************HERO SECTION**************************/
.header .hero .hero-content h1{
	font-size: 2.8rem;
}

/*******************HERO SECTION**************************/
}

@media only screen and (max-width: 576px){
.header .hero .hero-content .hero-links{
	flex-direction: column;
	align-items: flex-start;
	grid-gap: 30px;
}

.header .hero .hero-content .hero-links a{
	display: block;
	width: 100%;
	text-align: center;
}

.header .hero .hero-content .hero-links a:first-child{
	justify-content: center;
}
}

/*******************HEADER MEDIA QUERY**************************/

/*******************LETS START**************************/
.lets-start{
	width: 100%;
	padding: 60px 20px;
	background: var(--secondary-color);
}

.lets-start .start-text{
	max-width: var(--max-width);
	margin: 0px auto;
	color: var(--primary-color);
	text-align: center;
}

.lets-start .start-text h3{
	margin-bottom: 30px;
}

.lets-start .start-text p{
	line-height: 2rem;
}


/*******************LETS START**************************/

/*******************PROJECT BANNER START**************************/
.project{
	background:var(--secondary-color);
}

.project .project-banner{
	background: url('../images/project-banner.jpg');
	background-size: cover;
	background-position: center;
	height: 400px;
	width: 100%;
}

.project .project-content .row{
	display: flex;
	grid-gap: 50px;
}

.project .project-content .row .col{
	flex:1;
}

.project .project-content .row .col .project-list{
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(170px , 1fr));
	grid-gap: 30px;
}

.project .project-content .row .col .project-list .project-data{
	color: var(--primary-color);
	background: transparent;
	padding: 15px 0px;
	padding: 20px 0px;
	border-radius: 40px 0px 40px 0px;
	text-align: center;
}

.project .project-content .row .col .project-list .project-data:nth-child(1){
    border: 1px solid var(--color-1);
}

.project .project-content .row .col .project-list .project-data:nth-child(2){
    border: 1px solid var(--color-2);
}

.project .project-content .row .col .project-list .project-data:nth-child(3){
    border: 1px solid var(--color-3);
}

.project .project-content .row .col .project-list .project-data:nth-child(4){
    border: 1px solid var(--color-4);
}

.project .project-content .row .col .project-list .project-data:nth-child(5){
    border: 1px solid var(--color-1);
}

.project .project-content .row .col .project-text{
    background: var(--dark-blue);
    padding: 50px 30px;
    color:var(--primary-color);
    margin-top:-130px;
    border-radius: 10px;
}

.project .project-content > .row .col .project-text h1{
	margin-bottom: 30px;
}

.project .project-content > .row .col  .project-text p{
	margin-bottom: 30px;
	text-align: justify;
}

.project .project-content .row .col .project-text a{
	color:var(--blue-color);
	display: flex;
	grid-gap: 10px;
	align-items: center;
	font-size: 0.9rem;
}


/*******************PROJECT MEDIA QUERY**************************/
@media only screen and (max-width: 768px){
.container{
	padding: 60px 10px;
}

.project .project-content .row{
	flex-direction: column-reverse;
}

.project .project-content .row .col .project-list{
	padding: 0px 30px;
}

.project .project-content .row .col .project-text{
    margin-top:-150px;
}
}



/*******************PROJECT BANNER END**************************/

/*******************SERVICE START**************************/
.service{
	background: var(--secondary-color);
}

.service .row{
	display: flex;
	grid-gap: 30px;
	background: var(--dark-blue);
	position: relative;
}

.service .row .col{
	flex:1;
	position: relative;
}

.service .row .col .service-content{
	color:var(--primary-color);
}

.service .row .col .service-content> h1{
	margin-bottom: 30px;
}

.service .row .col .service-content p:nth-child(2){
	margin-bottom: 30px;
	text-align: justify;
}

.service .row .col .service-content p:nth-child(3){
	text-align: justify;
}

.service .row .col .service-img{
	display: flex;
	justify-content: center;
	width: 100%;
	position: absolute;
	left: 0;
	top: 10px;
}

.service .row .col .service-img img{
	height: 100%;
}

/*******************SERVICE MEDIA QUERY**************************/
@media only screen and (max-width: 768px){
.container{
	padding: 60px 20px;
}

.service .row{
	flex-direction: column-reverse;
}

.service .row .col .service-img{
	position: relative;
	margin-bottom: 30px;
}


.service .row .col .service-img img{
	height: 100%;
	width: 100%;
}

}
/*******************SERVICE END**************************/

/*******************SERVICE CARD**************************/
.service-card{
	background: var(--secondary-color);
	width: 100%;
}

.service-card .service-title{
	text-align: center;
	color: var(--primary-color);
	padding-top: 100px;
	padding-bottom: 50px;
}

.service-card .service-title h1{
	margin-bottom: 10px;
	font-size: 2rem;
}

.service-card .service-container> .row {
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(270px ,1fr));
	grid-gap: 60px;
}

.service-card .service-container> .row .col .card{
	position: relative;
	color:var(--primary-color);
}

.service-card .service-container .row .col .card .card-bg img{
	width: 100%;
}

.service-card .service-container >.row .col .card .card-content{
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
}

.service-card .service-container .row .col .card .card-content .icon{
	height: 60px;
	width: 60px;
}

.service-card .service-container .row .col .card .card-content .icon-1{
	background: var(--gradient-1);
	display: inline-block;
	padding: 10px;
	border-radius: 10px;
	transform: translate(10px ,-50px);
}

.service-card .service-container .row .col .card .card-content .icon-2{
	background: var(--gradient-2);
	display: inline-block;
	padding: 10px;
	border-radius: 10px;
	transform: translate(10px ,-50px);
}

.service-card .service-container .row .col .card .card-content .icon-3{
	background: var(--gradient-3);
	display: inline-block;
	padding: 10px;
	border-radius: 10px;
	transform: translate(10px ,-50px);
}

.service-card .service-container .row .col .card .card-content .icon-4{
	background: var(--gradient-4);
	display: inline-block;
	padding: 10px;
	border-radius: 10px;
	transform: translate(10px ,-50px);
}

.service-card .service-container .row .col .card .card-content .icon-5{
	background: var(--gradient-5);
	display: inline-block;
	padding: 10px;
	border-radius: 10px;
	transform: translate(10px ,-50px);
}

.service-card .service-container .row .col .card .card-content .icon-6{
	background: var(--gradient-6);
	display: inline-block;
	padding: 10px;
	border-radius: 10px;
	transform: translate(10px ,-50px);
}

.service-card .service-container .row .col .card .card-content .text h1{
	transform: translateY(-20px);
}

.service-card .service-container .row .col .card .card-content .text p{
	font-size: 0.9rem;
}


/*******************SERVICE  CARD MEDIA QUERY**************************/
@media only screen and (max-width: 768px){
.service-card .service-title{
	padding: 50px 0px;
}
}

/*******************SERVICE CARD**************************/

/*******************OUR STANDARD SECTION**************************/
.standard{
	width: 100%;
	padding: 30px 20px;
	background: var(--secondary-color);
}

.standard .container{
	padding: 0px 0px;
}

.standard .title{
	color:var(--primary-color);
	text-align: center;
}

.standard .title h1{
	margin-bottom: 20px;
	font-size: 2rem;
}

.standard .title p{
	margin-bottom: 40px;
}

.standard .standard-img , .standard-img img{
	width: 100%;
}


/*******************STANDARDR MEDIA QUERY**************************/
@media only screen and (max-width: 768px){
.standard{
	padding: 30px 20px;
}

.standard .container{
	padding: 20px 0px;
}

.standard .title p{
	margin-bottom: 10px;
}

}

/*******************OUR STANDARD SECTION**************************/

/*******************INDUSTRY SECTION CSS**************************/
.industry{
	width: 100%;
	padding: 60px 20px;
	background: var(--secondary-color);
}

.industry .title{
	max-width: var(--max-width);
	margin:0px auto;
	color:var(--primary-color);
	text-align: center;
}

.industry .title h1{
	margin-bottom: 20px;
	font-size: 2rem;
}

.industry .title p{
	margin-bottom: 60px;
}

.industry .row{
	display: grid;
	grid-template-columns: repeat(4 , 1fr);
	background: var(--dark-blue);
	max-width: var(--max-width);
	margin:0 auto;
}

.industry .col .industry-content{
	display: flex;
	justify-content: space-between;
	cursor: pointer;
	padding: 30px 20px;
	overflow-y: hidden;
}

.industry .col .industry-content .industry-data .industry-img{
	background: transparent;
	margin-bottom: 10px;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.industry .col .industry-content .industry-data .industry-img img{
	height: 30px;
}

.industry .col .industry-content .industry-data .industry-text h1{
	font-size: 1rem;
	color: var(--primary-color);
	white-space: nowrap;
}

.industry .col .industry-content .industry-link a{
	color: var(--primary-color);
	font-size: 0.8rem;
	display: none;
	white-space: nowrap;
}

.industry .col .industry-content:hover{
	background: var(--gray-color);
}

.industry .col .industry-content:hover > .industry-data .industry-img{
	background: var(--light-white);
}

.industry .col .industry-content:hover > .industry-link a{
	display: block;
}





/*******************INDUSTRY MEDIA QUERY**************************/
@media only screen and (max-width: 768px){
.industry .container{
	padding: 20px 10px;
}
.industry .title{
	//padding: 0px 0px;
}

.industry .row{
	grid-template-columns: repeat(2 , 1fr);
}
}

@media only screen and (max-width: 576px){
.industry .row{
	grid-template-columns: repeat(1 , 1fr);
}

}


/*******************INDUSTRY SECTION CSS**************************/

/*******************HIRE SECTION CSS**************************/
.hire{
	width: 100%;
	background: var(--secondary-color);
	padding: 100px 20px;
}

.hire .row{
	display: flex;
	grid-gap: 20px;
	background: var(--dark-blue);
	padding: 100px 0px;
}

.hire .row .col{
	flex:1;
	position: relative;
}

.hire .row .col .hire-img{
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 0px 20px;
}

.hire .row .col .hire-img img{
	position: absolute;
	top:-200px;
}

.hire .row .col .hire-text{
	color: var(--primary-color);
	padding: 0px 20px;
}

.hire .row .col .hire-text h1{
	margin-bottom: 30px;
}

.hire .row .col .hire-text p{
	text-align: justify;
}



/*******************HIRE MEDIA QUERY**************************/
@media only screen and (max-width: 768px){
.hire{
	padding: 30px 20px;
}

.hire .row{
	flex-direction: column;
	padding: 50px 0px;
}

.hire .row .col .hire-img img{
	position: relative;
	top:0px;
	margin-bottom: 30px;
	width: 100%;
}
}

/*******************HIRE SECTION CSS**************************/

/*******************SKILL SECTION CSS**************************/
.skill{
	background: var(--secondary-color);
}

.skill .row{
	display: flex;
	align-items: center;
	grid-gap: 30px;
}

.skill .row .col{
	padding: 0px 20px;
}

.skill .row .col .skill-text{
	color: var(--primary-color);
	margin-bottom: 40px;
}

.skill .row .col .skill-text h1{
	margin-bottom: 30px;
}

.skill .row .col .skill-items{
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-gap: 30px;
}

.skill .row .col .skill-items .item{
	color: var(--primary-color);
	display: flex;
	grid-gap: 10px;
	align-items: center;
}

.skill .row .col .skill-items .item .icon img{
	height: 40px;
}

.skill .row .col .skill-items .item .text h4{
	font-weight: normal;
}


/*******************SKILLS MEDIA QUERY**************************/
@media only screen and (max-width: 768px){
.skill .row{
	flex-direction: column-reverse;
}

.skill .row .col{
	padding: 0px 10px;
}

.skill .row .col .skill-img img{
	width: 100%;

}
}

@media only screen and (max-width: 576px){
.skill .row .col .skill-items .item .icon img{
	height: 30px;
}

.skill .row .col .skill-items .item .text h4{
	font-size: 0.8rem;
}
}
/*******************SKILL SECTION CSS**************************/

/*******************OUR PROJECTS SECTION CSS**************************/
.our-projects{
	width: 100%;
	background: var(--secondary-color);
	padding: 60px 20px;
}

.our-projects .title{
	max-width: var(--max-width);
	margin:0px auto;
	text-align: center;
	padding: 0px 20px;
	color: var(--primary-color);
	margin-bottom: 30px;
}

.our-projects .title h1{
	margin-bottom: 20px;
	font-size: 2rem;
}

.our-projects .title p{
	margin-bottom: 50px;
}

.our-projects .row{
	max-width: var(--max-width);
	margin:0px auto;
	display: flex;
	padding: 0px 30px;
}

.our-projects .row .col{
   padding: 0px 10px;
   margin-bottom: 10px;
}

.our-projects .row .img img{
	width: 100%;
	height: 100%;
}


/*******************OUR PROJECTS MEDIA QUERY**************************/
@media only screen and (max-width: 576px){
.our-projects{
	padding: 30px 10px;
}

.our-projects .title{
    padding: 0px 10px;
    margin-bottom: 0px;
}

.our-projects .row{
	padding: 0;
}

.our-projects .row .col{
   padding: 0px 5px;
   margin-bottom: 5px;
}

}
/*******************OUR PROJECTS SECTION CSS**************************/

/*******************OUR CLIENT SECTION CSS**************************/
.our-client{
	width: 100%;
	background: var(--secondary-color);
	padding: 60px 20px;
}

.our-client .row{
	max-width: var(--max-width);
	background: var(--dark-blue);
	margin:0px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.our-client .row .col{
	flex:1;
}

.our-client .row .col .client-text{
    padding: 30px 20px;
    color: var(--primary-color);
}

.our-client .row .col .client-text h1{
  margin-bottom: 30px;
}

.our-client .row .col .client-text ul li{
	margin-bottom: 20px;
	font-size: 0.9rem;
}

.our-client .row .col .client-text ul li i{
	margin-right: 10px;
}

.our-client .row .col .client-img{
}

.our-client .row .col .client-img img{
	width: 100%;
	display: flex;
	object-fit: cover;
}


/*******************OUR CLIENT MEDIA QUERY**************************/
@media only screen and (max-width: 768px){
.our-client{
	padding: 30px 20px;
}

.our-client .row{
	flex-direction: column;
}

.our-client .row .col .client-text{
    padding: 30px 10px;
}

}

/*******************OUR CLIENT SECTION CSS**************************/

/*******************ABOUT US SECTION CSS**************************/
.about-us{
	width: 100%;
	background: var(--secondary-color);
}

.about-us .row{
	display: flex;
	grid-gap: 30px;
}

.about-us .row .col{
	flex:1;
}

.about-us .row .col .about-text{
	color: var(--primary-color);
	padding: 40px 0px;
}

.about-us .row .col .about-text h1{
	margin-bottom: 30px;
	font-size: 2rem;
}

.about-us .row .col .about-text p{
	text-align: justify;
	margin-bottom: 20px;
}

.about-us .row .col .about-text a{
	display: flex;
	grid-gap: 10px;
	align-items: center;
	color: var(--blue-color);
	margin-top: 50px;
	font-size: 0.9rem;
}

.about-us .row .col .about-img img{
	width: 100%;
}


/*******************ABOUT US MEDIA QUERY**************************/
@media only screen and (max-width: 768px){
.about-us .row{
	flex-direction: column;
}	
}

/*******************ABOUT US SECTION CSS**************************/

/*******************TESTOMONIAL SECTION CSS**************************/
.testomonial{
	width: 100%;
	background-color: var(--secondary-color);
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.mySwiper2 {
    height: 100%;
    width: 100%;
}

.mySwiper {
    height: 100%;
    box-sizing: border-box;
    padding: 10px 0;
}

.mySwiper .swiper-slide {
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
      opacity: 1;
}

.swiper-slide img {
    object-fit: cover;
}

.testomonial-container{
    display: flex;
    grid-gap: 30px;
    align-items: flex-end;
}

.testomonial-container .content{
    text-align: left;
    padding: 20px 30px;
    color: var(--primary-color);
}

.testomonial-container .content h1{
	margin-bottom: 30px;
}

.testomonial-container .content p{
	font-size: 0.9rem;
	margin-bottom: 30px;
}

.testomonial-container .content h4{
	font-weight: normal;
	margin-bottom: 5px;
}

.testomonial-container .content h5{
	font-weight: normal;
	margin-bottom: 15px;
}

.testomonial-container .content .rating{
	display: flex;
	justify-content: space-between;
}

.testomonial-container .content .rating .icon{
	color: var(--yellow-color);
}

.testomonial-container .content .rating .quote-icon{
	font-size: 4rem;
	color: var(--cyan-color);
}

.testomonial-img{
    height: 80px;
    width: 80px;
}

.testomonial-img img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}


.swiper-slide-thumb-active .testomonial-img{
    height: 100px;
    width: 100px;
}

.swiper-slide-thumb-active .testomonial-img img{
    height: 100%;
    width: 100%; 
    border-radius: 50%;
}

/*******************TESTOMONIAL MEDIA QUERY**************************/

@media only screen and (max-width: 768px){
.testomonial-container {
    flex-direction: column;
    grid-gap: 10px;
}

.testomonial-container .content{
    text-align: left;
    padding: 20px 10px;
}

.testomonial-container .content .rating{
	
	flex-direction: column;
	grid-gap: 20px;
}

.testomonial-container .content .rating .quote-icon{
	font-size: 2.5rem;
}

.testomonial-img{
    height: 50px;
    width: 50px;
}

.testomonial-img img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}


.swiper-slide-thumb-active .testomonial-img{
    height: 70px;
    width: 70px;
}

.swiper-slide-thumb-active .testomonial-img img{
    height: 100%;
    width: 100%; 
    border-radius: 50%;
}
}

/*******************TESTOMONIAL SECTION CSS**************************/


/*******************WHY CHOOSE SECTION CSS**************************/
.why-choose{
	width: 100%;
	background: var(--secondary-color);
	padding: 60px 20px;
}

.why-choose .title{
	max-width: var(--max-width);
	margin:0px auto;
	text-align: center;
}

.why-choose .title h1{
	margin-bottom: 20px;
	font-size: 2rem;
	color: var(--primary-color);
}

.why-choose .title p{
	margin-bottom: 30px;
	color: var(--primary-color);
}

.why-choose .row{
	max-width: var(--max-width);
	margin:0px auto;
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
	grid-gap: 20px;
	padding-top: 30px;
}

.why-choose .row .col{
	border-radius: 20px;
	transition: all 0.5s;
}

.why-choose .row .col .text{
	color: var(--secondary-color);
	padding: 30px 20px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.why-choose .row .col .text h2{
	font-size: 1.2rem;
	margin-bottom: 30px;
	max-width: 200px;
}

.why-choose .row .col .text p{
	font-size: 0.9rem;
	line-height: 20px;
}

.why-choose .row .col:nth-child(1){
	background: var(--color-5);
}

.why-choose .row .col:nth-child(2){
	background: var(--color-6);
}

.why-choose .row .col:nth-child(3){
	background: var(--color-7);
}

.why-choose .row .col:nth-child(4){
	background: var(--color-8);
}

.why-choose .row .col:hover{
	transform: scale(0.96);
}

/*******************WHY CHOOSE MEDIA QUERY**************************/

@media only screen and (max-width: 768px){
.why-choose{
	padding: 60px 10px;
}
}

/*******************WHY CHOOSE SECTION CSS**************************/

/*******************BLOG SECTION CSS**************************/
.blog{
	width: 100%;
	background: var(--secondary-color);
	padding: 60px 20px;
}

.blog .title{
	max-width: var(--max-width);
	margin:0px auto;
	text-align: center;
}

.blog .title h1{
	margin-bottom: 20px;
	font-size: 2rem;
	color: var(--primary-color);
}

.blog .title p{
	margin-bottom: 30px;
	color: var(--primary-color);
}

.blog .row{
	max-width: var(--max-width);
	margin:0px auto;
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
	grid-gap: 30px;
	padding-top: 30px;
}

.blog .row .col{
	padding: 10px;
	background: var(--dark-blue);
	cursor: pointer;
}

.blog .row .col .img{
	overflow: hidden;
	border-radius: 10px;
}

.blog .row .col .img img{
	width: 100%;
	filter: brightness(80%);
	transition: all 0.5s;
}

.blog .row .col .img img:hover{
	filter: brightness(100%);
	transform: scale(1.1);
}

.blog .row .col{
	border-radius: 10px;
}

.blog .row .col .text{
	padding: 30px 10px;
}

.blog .row .col .text h2{
	font-size: 0.9rem;
	font-weight: normal;
	background: var(--color-9);
	display: inline-block;
	margin-bottom: 20px;
	color: var(--blue-color);
	padding: 5px 8px;
	border-radius: 5px;
}

.blog .row .col .text p{
	color: var(--primary-color);
	font-weight: 700;
	font-size: 1.2rem;
}

.blog .row .col .user{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.blog .row .col .user .user-img{
	display: flex;
	justify-content: space-between;
	align-items: center;
	grid-gap: 10px;
}

.blog .row .col .user .user-img span{
	color: var(--primary-color);
	font-size: 0.9rem;
}

.blog .row .col .user .date span{
	color: var(--primary-color);
	font-size: 0.9rem;
}
/*******************BLOG SECTION CSS**************************/

/*******************CONTACT SECTION CSS**************************/
.contact{
	width: 100%;
	background: var(--secondary-color);
	padding: 60px 20px;
}

.contact .row{
	display: flex;
	max-width: var(--max-width);
	margin:0px auto;
}

.contact .row .col-1{
	flex-basis:40%;
}

.contact .row .col-2{
	flex-basis:60%;
}

.contact .row .col-1{
	padding: 40px 30px;
	background: var(--color-10);
}

.contact .row .col-2{
	background: var(--color-11);
}

.contact .row .col .title{
color: var(--primary-color);
}

.contact .row .col .title h1{
	margin-bottom: 30px;
	font-size: 2.2rem;
}

.contact .row .col .title p{
	margin-bottom: 30px;
	font-size: 0.9rem;
}

.contact .row .col .contact-details{
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
	grid-gap: 20px;
}

.contact .row .col .contact-details .contact-item{
	border:1px solid var(--light-gray);
	padding: 20px 10px;
	text-align: center;
}

.contact .row .col .contact-details h6{
	color:var(--primary-color);
	font-size: 0.8rem;
	margin-bottom: 5px;
}

.contact .row .col .contact-details span{
	color:var(--primary-color);
	font-size: 0.9rem;
}

.contact .row .col .contact-title h1{
   color: var(--primary-color);
   background: var(--blue-color);
   display: inline-block;
   padding: 15px 30px;
   font-weight: normal;
   margin-bottom: 20px;
}

.contact .row .col .contact-title h1 span{
	font-weight: 700;
}

.contact .row .col .form{
	padding: 30px 30px;
}

.contact .row .col .form p{
	color: var(--primary-color);
	margin-bottom: 15px;
	font-size: 0.8rem;
}

.contact .row .col .form .form-row{
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
	grid-gap: 20px;
}

.contact .row .col .form .form-row .form-col{
	margin-bottom: 0px;
}

.contact .row .col .form .form-row .form-col .input input{
	width: 100%;
	background: transparent;
	border: none;
	border-bottom: 1px solid var(--light-gray);
	outline: none;
	padding: 20px 0px;
	color: var(--primary-color);
}

.contact .row .col .form .form-row .form-col .input input::placeholder{
	color: var(--light-gray); 
}

.contact .row .col .form .input-box{
	padding: 30px 0px;
}

.contact .row .col .form .input-box h4{
	color: var(--blue-color);
	margin-bottom: 20px;
}

.contact .row .col .form .input-box .radio{
	margin-bottom: 30px;
}

.contact .row .col .form .input-box .radio label{
	color: var(--light-gray);
	font-size: 0.8rem;
}

.contact .row .col .form .textarea textarea{
	width: 100%;
	height: 80px;
	background: transparent;
	outline: none;
	border:none;
	border-bottom: 1px solid var(--light-gray);
	resize: none;
	color: var(--primary-color);
}

.contact .row .col .form .textarea textarea::placeholder{
	color: var(--light-gray);
	font-size: 1rem;
}

.contact .row .col .form .btn{
	display: flex;
	justify-content: flex-end;
}

.contact .row .col .form .submit-btn{
	background: var(--blue-color);
	padding: 10px 30px;
	color: var(--primary-color);
	outline: none;
	border: none;
	font-size: 1rem;
	border-radius: 10px;
	cursor: pointer;
}

/*******************CONTACT MEDIA QUERY**************************/

@media only screen and (max-width: 768px){
.contact{
	padding: 60px 10px;
}

.contact .row{
	flex-direction: column-reverse;
}

.contact .row .col-1{
	padding: 30px 20px;
}

.contact .row .col .form{
	padding: 30px 20px;
}

.contact .row .col .title h1{
	font-size: 1.8rem;
}

.contact .row .col .title p{
	text-align: justify;
	margin-bottom: 40px;
}
}

/*******************CONTACT SECTION CSS**************************/

/*******************SPONSOR SECTION CSS**************************/
.sponsor{
	width: 100%;
	background: var(--color-11);
	padding: 0px 20px;
}

.sponsor .row{
	border-bottom: 1px solid var(--light-gray);
}

.sponsor .owl-carousel .item{
	background: var(--secondary-color);
	display: flex;
	justify-content: center;
	padding: 20px 10px;
	border-radius: 10px;
}

.sponsor .owl-carousel .item img{
	width: 70px;
	display: block;
}

.sponsor .owl-carousel .owl-nav {
	display: none;
}

.sponsor .owl-theme .owl-dots{
	display: none;
}

.sponsor .social-links{
	margin-top: 50px;
	display: flex;
	justify-content: center;
	grid-gap: 10px;
}

.sponsor .social-links a i{
	color: var(--primary-color);
	background: var(--secondary-color);
	padding: 10px;
	border-radius: 10px;
	font-size: 1.2rem;
	transition: all 0.5s;
}

.sponsor .social-links a i:hover{
	transform: translateY(-5px);
}

/*******************SPONSOR SECTION CSS**************************/

/*******************COUNTRY SECTION CSS**************************/
.country{
	background: var(--color-11);
	width: 100%;
	padding: 60px 20px;
}

.country .row{
	max-width: var(--max-width);
	margin:0px auto;
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
	grid-gap: 20px;
}

.country .row .col .country-item{
	background: var(--secondary-color);
	padding: 30px 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--primary-color);
	text-align: center;
	border-radius: 20px;
	transition: all 0.5s;
}

.country .row .col .country-item img{
	margin-bottom: 20px;
}

.country .row .col .country-item h3,h4,h5{
	margin-bottom: 10px;
}

.country .row .col .country-item h4,h5{
	font-weight: normal;
}

.country .row .col .country-item:hover{
	transform: scale(0.96);
}


/*******************COUNTRY MEDIA QUERY**************************/

@media only screen and (max-width: 768px){
.country{
	padding: 60px 10px;
}
}
/*******************COUNTRY SECTION CSS**************************/

/*******************FOOTER SECTION CSS**************************/
.footer{
	width: 100%;
	background: var(--color-11);
	padding: 60px 20px;
}

.footer .row{
	max-width: var(--max-width);
	margin: 0px auto;
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
	border-top: 1px solid var(--light-gray);
	padding-top: 60px;
}

.footer .row .col{
}

.footer .row .col .logo img{
	height: 40px;
	margin-bottom: 20px;
}

.footer .row .col p{
	color: var(--primary-color);
	font-size: 0.8rem;
	margin-bottom: 30px;
	max-width: 200px;
	line-height: 30px;
}

.footer .row .col .btn{
	background: var(--blue-color);
	color: var(--primary-color);
	padding: 15px 20px;
	outline: none;
	border:none;
	border-radius: 15px;
	font-weight: 600;
	cursor: pointer;
}

.footer .row .col .item h1{
	color: var(--primary-color);
	margin-bottom: 20px;
	font-size: 1rem;
}

.footer .row .col .item ul{
	padding: 5px 20px;
}

.footer .row .col .item ul li{
	list-style: disc;
	color: var(--primary-color);
	padding: 8px 0px;
}

.footer .row .col .item ul li a{
	color: var(--primary-color);
	font-size: 0.8rem;
}

.footer .row .col .item .input input{
	background: transparent;
	outline: none;
	border:none;
	border-bottom: 1px solid var(--light-gray);
	color: var(--primary-color);
	padding: 20px 0px;
	margin-bottom: 40px;
	width: 100%;
}

.footer .row .col .item .input input::placeholder{
	color: var(--light-gray);
}

.footer .row .col .item .subscribe-btn .subs-btn{
	background: var(--blue-color);
	color: var(--primary-color);
	padding: 15px 40px;
	outline: none;
	border:none;
	border-radius: 15px;
	font-weight: 600;
	cursor: pointer;
}



/*******************FOOTER MEDIA QUERY**************************/

@media only screen and (max-width: 768px){
.footer .row .col{
	margin-bottom: 40px;
}
}

/*******************FOOTER SECTION CSS**************************/

/*******************MAIN FOOTER SECTION CSS**************************/
.main-footer{
	width: 100%;
	background: var(--color-11);
	padding: 0px 20px;
}

.main-footer .row{
	max-width: var(--max-width);
	margin:0px auto;
	color: var(--primary-color);
	text-align: center;
	border-top: 1px solid var(--light-gray);
	padding: 30px 0px;
}

.main-footer .row p{
	font-size: 0.9rem;
}
/*******************MAIN FOOTER SECTION CSS**************************/



