/************************FONTS***********************************/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{padding: 0; margin: 0; box-sizing: border-box; text-decoration: none; list-style: none;}

/************************FONTS***********************************/
:root{
	--max-width: 1100px;
	--primary-color:#ffffff;
	--secondary-color:#0c0c0c;
	--dark-blue:#0B0E22;
	--blue-color:#0D6EFD;
	--color-1:#FFC3FE;
	--color-2:#FFE6BA;
	--color-3:#ADDAFF;
	--color-4:#FFC3FE;
	--gradient-1: linear-gradient(137.53deg, #7122FF 8.72%, #19A6FF 91.81%);
	--gradient-2: linear-gradient(134.78deg, #FFA385 10.66%, #FF288D 90.85%);
	--gradient-3: linear-gradient(135.82deg, #D8298A 7%, #B92CCD 92.38%);
	--gradient-4: linear-gradient(135.82deg, #D8298A 7%, #B92CCD 92.38%);
	--gradient-5: linear-gradient(134.78deg, #FFA385 10.66%, #FF288D 90.85%);
	--gradient-6: linear-gradient(137.53deg, #7122FF 8.72%, #19A6FF 91.81%);
}

.container{
	max-width: 1100px;
	margin:0px auto;
	padding: 60px 20px;
}

body{
	  font-family: "Poppins", sans-serif;
}

.header{
	background: linear-gradient(to right, rgb(1 0 4 / 70%), rgb(1 8 47 / 70%)), url('images/hero.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	min-height: 100vh;
	width: 100%;
	padding: 20px 10px;
	z-index: 99999;
}

.header .navbar.active{
	background: var(--secondary-color);
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	padding: 20px 10px;
	z-index: 9999;
}

.top-header{
	max-width: var(--max-width);
	margin: 0px auto;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	color: var(--primary-color);
	grid-gap: 30px;
	margin-bottom: 10px;
	padding: 0px 10px;
}

.top-header.active{
	display: none;
}

.top-header .mobile-icon i , .top-header .mail-icon i{
	margin-right: 10px;
}

.top-header .mobile-icon , .top-header .mail-icon{
	cursor: pointer;
}

.top-header .mobile-icon span:hover , .top-header .mail-icon span:hover{
	color:var(--blue-color);
	transition: all 0.5s;
}

.nav{
	max-width: var(--max-width);
	margin: 0px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	user-select: none;
	padding: 0px 10px;
}

.nav .logo img{
	height: 50px;
	cursor: pointer;
}

.nav ul{
	display: flex;
	grid-gap: 25px;
}

.nav ul li a{
	color: #fff;
	font-size: 16px;
	transition: all 0.5s;
	font-weight: 500;
}

.nav ul li a:hover{
	color:var(--blue-color);
}

.nav .openMenu{
	color: var(--primary-color);
	cursor: pointer;
	display: none;
}

.mobile-nav{
	display: none;
}


/*******************HERO SECTION**************************/
.header .hero{
	max-width: var(--max-width);
	margin:0px auto;
	padding: 0px 10px;
}

.header .hero .hero-content{
	margin-top: 60px;
}

.header .hero .hero-content h1{
	font-size: 3rem;
	max-width: 500px;
	margin-bottom: 40px;
	color: #fff;
	line-height: 3.5rem;
}

.header .hero .hero-content h1 span{
	color: var(--blue-color);
}

.header .hero .hero-content p{
	max-width: 700px;
	font-size: 1.2rem;
	color: rgba(255,255,255,0.8);
	line-height: 2rem;
	margin-bottom: 30px;
}

.header .hero .hero-content .hero-links{
	display: flex;
	flex-direction: row;
	align-items: center;
	grid-gap: 20px;
}

.header .hero .hero-content .hero-links a:first-child{
   background: var(--blue-color);
   color: var(--primary-color);
   display: flex;
   align-items: center;
   grid-gap: 10px;
   padding: 15px 30px;
   border-radius: 20px;
   border: 1px solid transparent;
   font-weight: 600;
   transition: all 0.5s;
}

.header .hero .hero-content .hero-links a:first-child:hover{
  background: transparent;
  border: 1px solid var(--blue-color);
}

.header .hero .hero-content .hero-links a:last-child{
	color: var(--blue-color);
	border:1px solid var(--blue-color);
    padding: 15px 30px;
    border-radius: 20px;
    font-weight: 600;
    transition: all 0.5s;
}

.header .hero .hero-content .hero-links a:last-child:hover{
  background: var(--blue-color);
  border: 1px solid transparent;
  color: var(--primary-color);
}

/*******************HERO SECTION**************************/




/*******************HEADER MEDIA QUERY**************************/
@media only screen and (max-width: 768px){
.header.dark{
	background: var(--secondary-color);
}

.top-header{
	display: none;
}

.nav .logo img{
	height: 40px;
}


.nav ul{
	display: none;
}

.nav .openMenu{
	display: block;
}



/*******************MOBILE MENU**************************/
.mobile-nav{
	position: fixed;
	top: 80px;
	left: 0;
	width: 100%;
	height: 100vh;
	background: var(--secondary-color);
	display: none;
	user-select: none;
	z-index:99999;
}

.mobile-nav.active{
	display: block;
	z-index:9999;
}

.mobile-nav ul{
   display: flex;
   flex-direction: column;
   grid-gap: 30px;
   padding: 20px 20px;
}

.mobile-nav ul li a{
	color: #fff;
	transition: all 0.5s;
}

.mobile-nav ul li a:hover{
	color: var(--blue-color);
}

.mobile-nav ul li i{
	margin-right: 10px;
}

/*******************MOBILE MENU**************************/


/*******************HERO SECTION**************************/
.header .hero .hero-content h1{
	font-size: 2.8rem;
}

/*******************HERO SECTION**************************/
}

@media only screen and (max-width: 576px){
.header .hero .hero-content .hero-links{
	flex-direction: column;
	align-items: flex-start;
	grid-gap: 30px;
}

.header .hero .hero-content .hero-links a{
	display: block;
	width: 100%;
	text-align: center;
}

.header .hero .hero-content .hero-links a:first-child{
	justify-content: center;
}
}

/*******************HEADER MEDIA QUERY**************************/

/*******************LETS START**************************/
.lets-start{
	width: 100%;
	padding: 60px 20px;
	background: var(--secondary-color);
}

.lets-start .start-text{
	max-width: var(--max-width);
	margin: 0px auto;
	color: var(--primary-color);
	text-align: center;
}

.lets-start .start-text h3{
	margin-bottom: 30px;
}

.lets-start .start-text p{
	line-height: 2rem;
}


/*******************LETS START**************************/

/*******************PROJECT BANNER START**************************/
.project{
	background:var(--secondary-color);
}

.project .project-banner{
	background: url('images/project-banner.jpg');
	background-size: cover;
	background-position: center;
	height: 400px;
	width: 100%;
}

.project .project-content .row{
	display: flex;
	grid-gap: 50px;
}

.project .project-content .row .col{
	flex:1;
}

.project .project-content .row .col .project-list{
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(170px , 1fr));
	grid-gap: 30px;
}

.project .project-content .row .col .project-list .project-data{
	color: var(--primary-color);
	background: transparent;
	padding: 20px 0px;
	border-radius: 40px 0px 40px 0px;
	text-align: center;
}

.project .project-content .row .col .project-list .project-data:nth-child(1){
    border: 1px solid var(--color-1);
}

.project .project-content .row .col .project-list .project-data:nth-child(2){
    border: 1px solid var(--color-2);
}

.project .project-content .row .col .project-list .project-data:nth-child(3){
    border: 1px solid var(--color-3);
}

.project .project-content .row .col .project-list .project-data:nth-child(4){
    border: 1px solid var(--color-4);
}

.project .project-content .row .col .project-list .project-data:nth-child(5){
    border: 1px solid var(--color-1);
}

.project .project-content .row .col .project-text{
    background: var(--dark-blue);
    padding: 50px 30px;
    color:var(--primary-color);
    margin-top:-130px;
    border-radius: 10px;
}

.project .project-content > .row .col .project-text h1{
	margin-bottom: 30px;
}

.project .project-content > .row .col  .project-text p{
	margin-bottom: 30px;
	text-align: justify;
}

.project .project-content .row .col .project-text a{
	color:var(--blue-color);
	display: flex;
	grid-gap: 10px;
	align-items: center;
	font-size: 0.9rem;
}


/*******************PROJECT MEDIA QUERY**************************/
@media only screen and (max-width: 768px){
.container{
	padding: 60px 10px;
}

.project .project-content .row{
	flex-direction: column-reverse;
}

.project .project-content .row .col .project-list{
	padding: 0px 30px;
}

.project .project-content .row .col .project-text{
    margin-top:-150px;
}
}



/*******************PROJECT BANNER END**************************/

/*******************SERVICE START**************************/
.service{
	background: var(--secondary-color);
}

.service .row{
	display: flex;
	grid-gap: 30px;
	background: var(--dark-blue);
	position: relative;
}

.service .row .col{
	flex:1;
	position: relative;
}

.service .row .col .service-content{
	color:var(--primary-color);
}

.service .row .col .service-content> h1{
	margin-bottom: 30px;
}

.service .row .col .service-content p:nth-child(2){
	margin-bottom: 30px;
	text-align: justify;
}

.service .row .col .service-content p:nth-child(3){
	text-align: justify;
}

.service .row .col .service-img{
	display: flex;
	justify-content: center;
	width: 100%;
	position: absolute;
	left: 0;
	top: 10px;
}

.service .row .col .service-img img{
	height: 100%;
}

/*******************SERVICE MEDIA QUERY**************************/
@media only screen and (max-width: 768px){
.container{
	padding: 60px 20px;
}

.service .row{
	flex-direction: column-reverse;
}

.service .row .col .service-img{
	position: relative;
	margin-bottom: 30px;
}


.service .row .col .service-img img{
	height: 100%;
	width: 100%;
}

}
/*******************SERVICE END**************************/

/*******************SERVICE CARD**************************/
.service-card{
	background: var(--secondary-color);
	width: 100%;
}

.service-card .service-title{
	text-align: center;
	color: var(--primary-color);
	padding-top: 100px;
	padding-bottom: 50px;
}

.service-card .service-title h1{
	margin-bottom: 10px;
	font-size: 2rem;
}

.service-card .service-container> .row {
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(270px ,1fr));
	grid-gap: 60px;
}

.service-card .service-container> .row .col .card{
	position: relative;
	color:var(--primary-color);
}

.service-card .service-container .row .col .card .card-bg img{
	width: 100%;
}

.service-card .service-container >.row .col .card .card-content{
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
}

.service-card .service-container .row .col .card .card-content .icon{
	height: 60px;
	width: 60px;
}

.service-card .service-container .row .col .card .card-content .icon-1{
	background: var(--gradient-1);
	display: inline-block;
	padding: 10px;
	border-radius: 10px;
	transform: translate(10px ,-50px);
}

.service-card .service-container .row .col .card .card-content .icon-2{
	background: var(--gradient-2);
	display: inline-block;
	padding: 10px;
	border-radius: 10px;
	transform: translate(10px ,-50px);
}

.service-card .service-container .row .col .card .card-content .icon-3{
	background: var(--gradient-3);
	display: inline-block;
	padding: 10px;
	border-radius: 10px;
	transform: translate(10px ,-50px);
}

.service-card .service-container .row .col .card .card-content .icon-4{
	background: var(--gradient-4);
	display: inline-block;
	padding: 10px;
	border-radius: 10px;
	transform: translate(10px ,-50px);
}

.service-card .service-container .row .col .card .card-content .icon-5{
	background: var(--gradient-5);
	display: inline-block;
	padding: 10px;
	border-radius: 10px;
	transform: translate(10px ,-50px);
}

.service-card .service-container .row .col .card .card-content .icon-6{
	background: var(--gradient-6);
	display: inline-block;
	padding: 10px;
	border-radius: 10px;
	transform: translate(10px ,-50px);
}

.service-card .service-container .row .col .card .card-content .text h1{
	transform: translateY(-20px);
}

.service-card .service-container .row .col .card .card-content .text p{
	font-size: 0.9rem;
}


/*******************SERVICE  CARD MEDIA QUERY**************************/
@media only screen and (max-width: 768px){
.service-card .service-title{
	padding: 50px 0px;
}
}

/*******************SERVICE CARD**************************/

/*******************OUR STANDARD SECTION**************************/
.standard{
	width: 100%;
	padding: 60px 20px;
	background: var(--secondary-color);
}

.standard .title{
	color:var(--primary-color);
	text-align: center;
}

.standard .title h1{
	margin-bottom: 10px;
	font-size: 2rem;
}

/*******************OUR STANDARD SECTION**************************/

